body {
  background: steelblue;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;;
}

.Login-Wrapper {
  min-height: 200px;
  min-width: 200px;
  background: #fff;
  padding: 20px;
  border-top: 5px lightblue solid;
  color: #000;
}

.Login-Input button {
  background: lightblue;
  display: block;
  width: 100%;
  height: 50px;
}

.Login-Input input {
  display: block;
  padding: 20px;
  width: 100%;
  height: 50px;
  margin: 10px 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 40px auto;
  width: 300px;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
